body {
    /* font-family: Arial, Helvetica, sans-serif; */
    padding: 0;
    margin: 0;
    /* background-image: linear-gradient(to right, #E9FFCC 0%, #FFFFFF 50%, #E9FFCC 100%); */
}

.doctypes {
    text-align: center;
    padding: 10px 0;
}

.update {
    padding: 0 0 13px 0;
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px 10px;
    border: 1px solid black;
}

p {
    white-space: pre-wrap;
}

.margin_auto {
    margin: auto;
}

.text_center {
    text-align: center;
}

.added {
    background-color: #B6C79F;
}

.wrap {
    max-width: 1280px;
}
